:root {
    /* Normal bar palette color */
    --invox-highlight-normal-color: #778cd4;
    --invox-shadow-normal-color: #5d6ea6;
    --invox-dark-normal-color: #415491;

    /* Error bar palette color */
    --invox-highlight-error-color: #ff6060;
    --invox-shadow-error-color: #d65050;
    --invox-dark-error-color: #b83939;

    /* Page common palette color */
    --invox-highlight-page-primary-color: #dce1f0;
    --invox-shadow-page-primary-color: #d2d7ee;
    --invox-dark-page-primary-color: #415491;

    --invox-highlight-page-secondary-color: #bbeee1;
    --invox-shadow-page-secondary-color: #a6e2d3;
    --invox-dark-page-secondary-color: #4c6c61;

    --invox-highlight-page-tertiary-color:#f3f3f3;
    --invox-shadow-page-tertiary-color: #e9ecef;
    --invox-dark-page-tertiary-color: #656160;

    /* Another common colors */
    --invox-disable-red-color: #fda3a3;
    --invox-focus-red-color: #fa8888;


    --invox-templates-dialog__z-index: 700

    --invox-dialogs-color__primary: #52619f;
    --invox-dialogs-color__primary--hover: #415491;
    --invox-dialogs-size__width: 400px;
    --invox-dialogs-size__height: 400px;
    --invox-dialogs-size__min-width: 300px;
    --invox-dialogs-size__min-height: 400px;
    --invox-dialogs-size__max-width: 100vw;
    --invox-dialogs-size__max-height: 100vh;
    --invox-dialogs-size__border-radius: 5px
}

/* Header  */

.invox-header {
    margin: 40px 20px 20px 20px; 
}

.invox-login-card {
    background-color: white;
    margin-bottom: 20px;
    border: 1px solid var(--invox-shadow-page-tertiary-color);;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    border-radius: 10px;
    padding-bottom: 5px;
    height: fit-content;
}

.invox-login-input-title {
    font-size: 0.65em;
    margin-left: 5px;
    margin-right: 8px;
    margin-bottom: 0px;
    color: var(--invox-dark-page-tertiary-color);
}

.invox-login-input {
    height: 26px;
    font-size: calc(0.5em + 0.3vw);
}
.invox-login-input:focus {
    outline: none !important;
    border: 1px solid var(--invox-shadow-page-primary-color);
    box-shadow: 0 0 10px var(--invox-shadow-page-primary-color);
}

.invox-login-spinner {
    margin-left: calc(-9px - 0.7vw);
    width: calc(5px + 0.7vw);
    height: calc(5px + 0.7vw);
    opacity: 0.5;
    margin-right: 4px;
}
.invox-login-btn {
    height: 50%;
    width: 100%;
    font-weight: 600;
    font-size: calc(8px + 0.7vw);
    background-color: var(--invox-highlight-page-secondary-color);
    color: var(--invox-dark-page-secondary-color);
}
.invox-login-btn:hover, .invox-login-btn:focus {
    background-color: var(--invox-shadow-page-secondary-color);
    color: var(--invox-dark-page-secondary-color);
}
.invox-logout-btn {
    height: 50%;
    width: 100%;
    font-weight: 600;
    font-size: calc(8px + 0.7vw);
    background-color: var(--invox-highlight-page-primary-color);
    color: var(--invox-dark-page-primary-color);
}
.invox-logout-btn:hover, .invox-logout-btn:focus {
    background-color: var(--invox-shadow-page-primary-color);
    color: var(--invox-dark-page-primary-color);
}

.invox-login-config-btn {
    height: 50%;
    width: 100%;
    font-weight: 600;
    font-size: calc(6px + 0.5vw);
    margin-top: 5px;
    background-color: var(--invox-highlight-page-tertiary-color);
    color: var(--invox-dark-page-tertiary-color);
}
.invox-login-config-btn:hover, .invox-login-config-btn:focus {
    background-color: var(--invox-shadow-page-tertiary-color);
}
.invox-config-input-padding {
    padding: 4px
}

.invox-password-btn {
    background-color: var(--invox-highlight-page-tertiary-color);
    color: var(--invox-dark-page-tertiary-color);
    font-size: 0.75rem;
    height: 26px;
    outline: none;
}

.invox-password-btn:hover, .invox-password-btn:focus {
    background-color: var(--invox-shadow-page-tertiary-color);
}


/* Content */

.invox-page-title {
    font-size: calc(1em + 0.7vw);
    font-weight: bold;
    color: var(--invox-dark-page-tertiary-color);
    text-align: center;
}
.invox-page-subtitle {
    font-size: calc(0.8em + 0.7vw);
    font-weight: bold;
    color: #a0a9c5;
    font-style: italic;
    text-align: center;
}

.invox-link {
    text-decoration: none;
    color: inherit;
}
.invox-link:hover {
    color: var(--invox-shadow-normal-color);
    text-decoration: none;
}

.invox-textarea-type {
    font-size: calc(0.6em + 0.3vw); 
    font-weight: bold; 
    color: var(--invox-dark-page-tertiary-color);
    margin-bottom: 5px;
}

.invox-textarea-title {
    font-size: calc(0.6em + 0.3vw); 
    font-weight: normal; 
    color: var(--invox-dark-page-tertiary-color);
    margin-top: 20px;
}

.invox-textarea {
    min-height: 80px !important;
    font-size: 0.75rem;
    resize: vertical;
}
.invox-textarea:focus {
    border: 1px solid #b1b1b1;
}

.invox-focus-textarea {
    border: 4px solid var(--invox-shadow-page-primary-color) !important;
}
.invox-focus-dictation-textarea {
    border: 4px solid var(--invox-focus-red-color) !important;
}

.invox-base-btn {
    font-weight: bold;
    font-size: 0.75rem;
    margin-top: 10px;
    border: 2px solid transparent;
    background-color: var(--invox-highlight-page-primary-color);
    color: var(--invox-dark-page-primary-color);
}
.invox-base-btn:hover {
    background-color: var(--invox-shadow-page-primary-color);
    color: var(--invox-dark-page-primary-color);
}

.invox-switch-lock-btn:hover {
    border: 2px solid var(--invox-dark-normal-color);
    background-color: var(--invox-highlight-page-primary-color);
    color: var(--invox-dark-normal-color); 
}
.invox-switch-lock-focus-btn {
    border: 2px solid var(--invox-dark-normal-color);
    background-color: var(--invox-highlight-page-primary-color);
    color: var(--invox-dark-normal-color); 
}


.invox-installation-dependency-btn {
    background-color: var(--invox-highlight-page-primary-color);
    color: var(--invox-dark-page-primary-color);
    font-weight: 600;
    font-size: 0.75rem;
    margin-top: 10px;
}
.invox-installation-dependency-btn:hover {
    background-color: var(--invox-shadow-page-primary-color);
    color: var(--invox-dark-page-primary-color);
}

.invox-toast-border-rounded {
    border-radius: calc(.25rem - 1px);
}


/* Product name & Version */

.invox-product-logo {
    transition: transform ease .3s;
}

.invox-product-logo:hover {
    transform: scale(1.05);
}

#invox-product-version,
#invox-product-commit {
    font-size: 0.75rem;
    font-weight: normal;
    text-align: center;
    color: gray;
    margin-right: 1rem;
}


/* Footer Waves Animation */

.invox-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: -1;
}

.invox-waves {
    position: relative;
    width: 100%;
    height: 15vh;
    min-height: 100px;
    max-height: 150px;
}

.invox-parallax > use {
    animation: invox-move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.invox-parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.invox-parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.invox-parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

@keyframes invox-move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}

/* Home */


.invox-home-title {
    font-weight: 900;
    color: var(--invox-dark-page-tertiary-color);
    width: min-intrinsic;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    display: table-caption;
    display: -ms-grid;
    -ms-grid-columns: min-content;
}

.invox-home-group-title {
    font-size: calc(1.1em + 0.5vw); 
    font-weight: 400;
    color: #898dba;
    margin-bottom: 5px;
    padding-left: 30px;
}

.invox-home-card {
    border: 1px solid var(--invox-shadow-page-tertiary-color);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: transform 250ms;
}
.invox-home-card:hover {
    transform: translateY(-3%);
}

.invox-home-link-btn  {
    width: 100%;
    background-color: var(--invox-highlight-page-primary-color);
    color: var(--invox-dark-page-primary-color);
    font-weight: bold;
    font-size: calc(0.8em + 0.2vw);
    border-bottom-left-radius: inherit !important;
    border-bottom-right-radius: inherit !important;
    border: none;
    padding: 7px;
    text-decoration: none;
    text-align: center;
}
.invox-home-link-btn:hover {
    background-color: var(--invox-shadow-page-primary-color);
    color: var(--invox-dark-page-primary-color);
}
.invox-home-card-title {
    font-size: calc(0.8em + 0.5vw);
    color: var(--invox-dark-page-tertiary-color);
}
.invox-home-card-description {
    font-size: calc(0.8em + 0.2vw);
}


/* Auxiliars */

.invox-nopadding {
    padding: 0 !important;
}
.invox-nomargin {
    margin: 0 !important;
}
.invox-hide {
    display: none !important;
}
.invox-disabled {
    pointer-events: none;
}
.invox-padding-boton-editor {
    padding-bottom: 17px
}




.btn,
.btn:focus,
.btn:focus-visible,
.btn:active,
.btn.focus,
.btn:focus,
.btn:hover,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus {
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    outline: none;
    box-shadow: none;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #a0a0a0 !important;
    opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #a0a0a0 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #a0a0a0 !important;
}

.toast {
    background-color: white;
}


/*////////////////////*/


/*:root{
    --invox-templates-dialog__z-index: 700
}
:root{
    --invox-dialogs-color__primary: #52619f;
    --invox-dialogs-color__primary--hover: #415491;
    --invox-dialogs-size__width: 400px;
    --invox-dialogs-size__height: 400px;
    --invox-dialogs-size__min-width: 300px;
    --invox-dialogs-size__min-height: 400px;
    --invox-dialogs-size__max-width: 100vw;
    --invox-dialogs-size__max-height: 100vh;
    --invox-dialogs-size__border-radius: 5px
}*/
.invox-dialog__root-layer{
    display:none;
    position:fixed;
    z-index:700;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:#0006;
    font-family:sans-serif
}
.invox-dialog__root-layer.active{
    display:flex
}
.invox-dialog__dialog-container{
    position:relative;
    display:flex;
    flex-direction:column;
    margin:auto;
    background-color:#fff;
    box-shadow:0 4px 16px #00000040;
    border-radius:var(--invox-dialogs-size__border-radius);
    overflow:hidden
}

.invox-dialog__dialog-header{
    padding:6px 10px;
    background-color:var(--invox-dialogs-color__primary);
    color:#fff;
    display:flex;
    align-items:center;
    gap:10px
}
.invox-dialog__dialog-header-title{
    display:flex;
    flex:1;
    font-weight:700;
    align-items:center;
    gap:10px;
    overflow:hidden
}
.invox-dialog__dialog-header-title>svg{
    width:22px;
    min-width:22px;
    height:22px;
    min-height:22px
}
.invox-dialog__dialog-header-title>label{
    font-size:1rem;
    align-self:flex-end;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis
}
.invox-dialog-body-container{
    position:relative;
    display:flex;
    flex-direction:column;
    color:#000;
    overflow:hidden;
    height:100%;
    background-color:#fff
}
.invox-dialog-footer{
    display:flex;
    flex-wrap:wrap;
    justify-content:end;
    background-color:#fff;
    border-top:1.5px solid #e9e9e9;
    white-space:nowrap;
    gap:10px
}
.invox-dialog-footer div{
    display:flex;
    gap:10px
}
.invox-base-view-header{
    display:flex;
    font-weight:700;
    align-items:center;
    justify-content:left;
    border-bottom:1.5px solid #e9e9e9;
    gap:10px
}
.invox-base-view-header>h1{
    margin:0;
    color:var(--invox-dialogs-color__primary);
    font-size:1.6rem;
    font-weight:700
}
.invox-base-padding{
    padding:10px
}
.invox-justify-left{
    justify-content:left!important
}
.invox-justify-space-between{
    justify-content:space-between!important
}
/*.invox-base-no-background-button{
    padding:5px;
    background-color:transparent;
    outline:none;
    border:none;
    color:gray;
    font-size:inherit;
    display:flex
}
.invox-base-no-background-button:hover,.invox-base-no-background-button:focus{
    cursor:pointer;
    outline:none;
    border:none;
    border-radius:var(--invox-dialogs-size__border-radius);
    background-color:var(--invox-dialogs-color__primary--hover)
}*/
.invox-dialog-icon__fullscreen{
    stroke:transparent;
    stroke-width:0px;
    width:14px;
    min-width:14px;
    height:14px;
    min-height:14px;
    fill:#fff
}
.invox-dialog-icon__brand,.invox-dialog-icon__help,.invox-dialog-icon__close{
    fill:#fff;
    width:18px;
    height:18px
}
.invox-dialog-icon__fullscreen{
    width:16px;
    height:16px
}
.invox-dialog__dialog-container--resizable{
    width:var(--invox-dialogs-size__width);
    height:var(--invox-dialogs-size__height);
    min-width:var(--invox-dialogs-size__min-width);
    min-height:var(--invox-dialogs-size__min-height);
    max-width:var(--invox-dialogs-size__max-width);
    max-height:var(--invox-dialogs-size__max-height);
    resize:both
}
.invox-dialog__dialog-container--fullscreen{
    width:100vw!important;
    height:100vh!important;
    border-radius:0
}
.invox-dialog__dialog-container .mark,mark{
    color:inherit;
    padding:0;
    background-color:#ffe69d
}
.invox-dialog__creation-view-body-container{
    display:flex;
    flex-direction:column;
    flex:1
}
.invox-dialog__list-view-header-container{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-between;
    gap:10px;
    border-bottom:1px solid #e9e9e9;
    background-color:#fff
}
.invox-dialog__list-title{
    width:max-content;
    padding:2px 15px;
    color:var(--invox-dialogs-color__primary);
    font-size:1rem;
    font-weight:700;
    text-align:left;
    white-space:normal;
    text-overflow:ellipsis;
    border:none;
    margin:0
}
.invox-dialog__list-selector{
    width:max-content;
    height:32px;
    padding:2px 15px;
    padding-inline:40px 15px;
    cursor:pointer;
    border-radius:var(--invox-dialogs-size__border-radius);
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background:url(data:image/png;
        base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABJ0lEQVRIie2SsUrDUBSGv5OmvkEVF1+gi6CrYIvgootN3HSXSin4ImmhoB1dlKaL4ORQRDf3PoFjH8G0v4PGJtVECrrlm+6957//OT/3QkFBwb9jyc2e39mYyU6Bl9Gw9bCMUa0R7Mux7Vkpun66vXiNz92kaCruQJsANa8ziMzOn8PWJM94x+9WXNED+SYoTctHwFZcdxb0q4n1sSuN617gZ5nXvcB3pTForpHWkppUAjPnRJregMWNKsIGNa8bRkYzThNPraTxBxMz5zTlmRf522XUBBDWAyrpsqWGyGwQs+sFB4b1gfUsTbLxaNgOfyouvsEXj8P2/dtKuYroZ3tbGJlVs8whJ0GSeqN7KNMV8zS5Uy/dAD7fBs6QFJld/vZ9Cwr+jndkqm4WkAkuKQAAAABJRU5ErkJggg==) no-repeat 95% 50%;
    background-size:16px 16px;
    direction:rtl;
    background-color:#f3f3f3;
    outline:none;
    border:1.5px solid #f3f3f3;
    color:var(--invox-dialogs-color__primary);
    font-size:1rem;
    font-weight:700;
    text-align:left;
    white-space:normal;
    text-overflow:ellipsis;
    margin:0
}
.invox-dialog__list-caption-container{
    display:block;
    padding:0
}
.invox-dialog__list-container{
    display:block;
    height:100%;
    overflow:hidden;
    background-color:#fff
}
.invox-dialog__list-container>thead{
    display:table;
    width:100%;
    height:30px;
    color:var(--invox-dialogs-color__primary);
    font-size:.7rem;
    font-weight:700;
    border-bottom:1px solid #e9e9e9
}
.invox-dialog__list-container>thead>tr{
    display:flex;
    align-items:center
}
.invox-dialog__help-view-body-container,.invox-dialog__list-container>tbody{
    display:block;
    overflow:auto;
    overflow-y:auto;
    height:100%
}
.invox-dialog__list-container>tbody>div{
    display:flex;
    height:100%;
    justify-content:center;
    align-items:flex-start;
    padding:20px 50px;
    color:#b0b0b0;
    text-align:center
}
.invox-dialog__list-searchbar{
    height:32px;
    width:fit-content;
    min-width:18ch;
    display:flex;
    flex:1;
    align-items:center;
    background-color:#f3f3f3;
    outline:1.5px solid #f3f3f3;
    outline-style:none;
    border:none;
    border-radius:var(--invox-dialogs-size__border-radius);
    position:relative;
    padding:0 10px;
    gap:10px
}
.invox-dialog__list-searchbar>input{
    color:#000;
    border:none;
    outline:none;
    font-size:.8rem;
    margin-bottom:0;
    width:100%;
    height:100%;
    background-color:transparent
}
.invox-dialog__list-searchbar>input:active,.invox-dialog__list-searchbar>input:focus{
    border:none;
    outline:none
}
.invox-dialog__form-container{
    position:relative;
    display:flex;
    flex-direction:column;
    color:#000;
    overflow:auto;
    height:100%;
    padding:10px;
    gap:10px
}
.invox-dialog__input-container,.invox-dialog__checkbox-container{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:10px;
    margin-top:10px
}
.invox-dialog__input-container{
    position:relative;
    border:1.5px solid #dddddd;
    border-radius:var(--invox-dialogs-size__border-radius)
}
.invox-dialog__checkbox-container{
    margin:5px
}

.invox-dialog__input-container>svg{
    margin:10px 0 5px 10px
}
.invox-dialog__input-container:focus-within>svg{
    fill:var(--invox-dialogs-color__primary)
}
.invox-dialog__input-label{
    position:absolute;
    top:-7px;
    left:10px;
    font-size:.6rem;
    background-color:#fff;
    color:gray;
    padding-inline:5px
}
.invox-dialog__checkbox-label{
    font-size:.8rem;
    color:gray;
    width:100%;
    cursor:pointer
}


.invox-dialog__input-textarea{
    flex:1;
    resize:none
}
.invox-dialog__input-checkbox{
    accent-color:var(--invox-dialogs-color__primary--hover);
    width:18px;
    height:18px;
    position:relative;
    outline:none
}
.invox-dialog__list-search-result-container{
    display:flex;
    padding:20px;
    align-items:center;
    flex-direction:column;
    color:gray
}



.invox-dialog__button>label{
    cursor:pointer
}
.invox-dialog__alert-container{
    display:flex;
    flex-wrap:wrap;
    padding:10px 15px;
    gap:10px 20px
}
.invox-dialog__alert-container>div{
    display:flex;
    flex-direction:row;
    align-items:center;
    column-gap:10px;
    flex:1
}
.invox-dialog__alert-container .invox-dialog-icon__warning,.invox-dialog__alert-container .invox-dialog-icon__error{
    align-self:flex-start;
    margin-top:5px;
    width:18px;
    height:18px
}
.invox-dialog__alert-container p{
    font-size:.8rem;
    padding-block:5px;
    margin:0
}
.invox-dialog__alert-container button{
    width:fit-content;
    height:fit-content;
    font-size:.8rem
}
.invox-dialog__warning-alert{
    background-color:#fff3dc
}
.invox-dialog__warning-alert p{
    color:gray
}
.invox-dialog__danger-alert{
    background-color:#ff00001c
}
.invox-dialog__danger-alert p{
    color:red
}
.invox-dialog__confirmation-layer{
    position:absolute;
    bottom:0;
    width:100%;
    height:100%;
    background-color:#0003
}
.invox-dialog__confirmation-panel-container{
    display:flex;
    flex-direction:column;
    position:absolute;
    bottom:0;
    width:100%;
    background-color:#fff;
    border-radius:var(--invox-dialogs-size__border-radius) var(--invox-dialogs-size__border-radius) 0px 0px
}
.invox-dialog__confirmation-panel-header{
    display:flex;
    align-items:center
}
.invox-dialog__confirmation-panel-header h6{
    width:100%;
    font-size:1.2rem;
    font-weight:700;
    padding-inline:20px;
    margin:0
}
.invox-dialog__confirmation-panel-body p{
    margin:0;
    padding-block:20px;
    padding-inline:20px
}
.invox-dialog__confirmation-panel-container-danger{
    background-color:#ff00001c
}
.invox-dialog__confirmation-panel-container-info{
    background-color:#006dff1c
}
.invox-dialog__confirmation-panel-container-warn{
    background-color:#ffc3001c
}
.invox-dialog__help-product-footer{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:#989898;
    margin-bottom:20px;
    font-size:smaller
}
.invox-dialog__help-view-body-container{
    display:flex;
    flex-direction:column;
    overflow:auto;
    overflow-y:auto;
    height:100%;
    row-gap:10px
}
.invox-dialog__help-view-body-container h5{
    font-weight:700;
    font-size:1.3rem;
    color:var(--invox-dialogs-color__primary);
    margin:10px
}
.invox-dialog__help-view-body-container p{
    margin-inline:10px;
    margin-block:0px
}
.invox-dialog__help-view-body-container details{
    margin-block:10px;
    padding:10px;
    border:1px solid lightgray;
    background-color:#ebebeb40;
    border-radius:var(--invox-dialogs-size__border-radius);
    font-size:small
}
.invox-dialog__help-view-body-container details summary{
    margin-left:10px;
    font-weight:700;
    color:#212121;
    font-size:normal;
    outline:none
}
.invox-dialog__help-view-body-container details summary::-webkit-details-marker,.invox-dialog__help-view-body-container details summary::marker{
    color:#989898;
    font-size:small
}
.invox-dialog__help-view-body-container details summary>span{
    margin-right:10px
}
.invox-dialog__help-view-body-container details p{
    margin-block:10px
}
.invox-dialog__help-view-body-container details div{
    display:flex;
    justify-content:center;
    flex-direction:column;
    margin:10px;
    padding-left:20px;
    fill:gray
}
.invox-dialog__help-view-body-container details div label{
    margin-left:10px
}
.invox-dialog__help-remark-container{
    display:flex;
    margin:10px;
    padding:10px;
    border:1px solid #91b1bd;
    background-color:#8ecfff40;
    border-radius:var(--invox-dialogs-size__border-radius);
    font-size:small
}
.invox-dialog__help-remark-container>svg{
    align-content:flex-start
}
.invox-dialog__help-view-body-container,.invox-dialog__list-container>tbody,.invox-dialog__form-container{
    scrollbar-width:auto;
    scrollbar-color:#cbcbcb white
}
.invox-dialog__help-view-body-container::-webkit-scrollbar,.invox-dialog__list-container>tbody::-webkit-scrollbar,.invox-dialog__form-container::-webkit-scrollbar,.invox-dialog__input-textarea::-webkit-scrollbar{
    width:12px
}
.invox-dialog__help-view-body-container::-webkit-scrollbar-track,.invox-dialog__list-container>tbody::-webkit-scrollbar-track,.invox-dialog__form-container::-webkit-scrollbar-track{
    background:white
}
.invox-dialog__help-view-body-container::-webkit-scrollbar-thumb,.invox-dialog__list-container>tbody::-webkit-scrollbar-thumb,.invox-dialog__form-container::-webkit-scrollbar-thumb,.invox-dialog__input-textarea::-webkit-scrollbar-thumb{
    background-color:#cbcbcb;
    border-radius:6px;
    border:3px solid white
}
.invox-dialog-icon__help-remark,.invox-dialog-icon__text-template,.invox-dialog-icon__back,.invox-dialog-icon__plus,.invox-dialog-icon__warning,.invox-dialog-icon__error,.invox-dialog-icon__search-failed,.invox-dialog-icon__global,.invox-dialog-icon__search,.invox-dialog-icon__shared,.invox-dialog-icon__arrow-right,.invox-dialog-icon__inline-template,.invox-dialog-icon__edit,.invox-dialog-icon__insert-template,.invox-dialog-icon__trash,.invox-dialog-icon__dictionary{
    stroke:transparent;
    stroke-width:0px;
    width:14px;
    min-width:14px;
    height:14px;
    min-height:14px;
    fill:#aeaeae
}
.invox-dialog-icon__plus{
    fill:#fff
}
.invox-dialog-icon__help-remark{
    fill:#156fff
}



.invox-dialog-icon__error,.invox-dialog-icon__trash{
    fill:red
}
.invox-dialog-icon__back{
    width:18px;
    height:18px
}
.invox-dialog-icon__search-failed{
    width:64px;
    height:64px;
    fill:#e9e9e9;
    stroke:#e9e9e9;
    stroke-width:2px
}
.invox-dialog__list-item-content-preview{
    font-size:inherit;
    margin:0;
    white-space:pre-wrap;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    line-clamp:2
}
.invox-dialog__list-item-content-preview--expanded{
    -webkit-line-clamp:unset;
    -webkit-box-orient:unset;
    line-clamp:unset
}



.invox-dialog__list-item-buttons.hidden{
    display:none
}


.invox-dialog__list-item-button-cancel{
    font-weight:700;
    color:#696969
}


.invox-dialog__list-item-button-edit{
    color:var(--invox-dialogs-color__primary)!important
}
.invox-dialog__list-item-button-remove{
    color:red!important
}
.invox-dialog__button-close--dark{
    color:gray
}
.invox-dialog__button-close--dark:hover{
    background-color:#d1d1d14a
}
.invox-dialog__button-close--dark>svg{
    fill:gray!important
}
.invox-dialog__list-item-icons,.invox-dialog__list-item-icons--small{
    display:flex;
    flex-wrap:nowrap;
    column-gap:10px;
    font-size:.7rem;
    color:gray
}
.invox-dialog__list-item-icons{
    font-size:.8rem;
    column-gap:20px
}
.invox-dialog__list-item-icons--small svg{
    width:12px;
    height:12px
}
.invox-dialog__list-item-icons{
    font-size:.8rem
}
.invox-dialog__list-item-icons>span,.invox-dialog__list-item-icons--small>span{
    display:flex;
    align-items:center;
    column-gap:5px;
    flex-wrap:nowrap;
    overflow:hidden
}
.invox-dialog__list-item-icons label,.invox-dialog__list-item-icons--small label{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.invox-dialog__button-back{
    cursor:pointer;
    outline:none;
    border:none;
    background-color:transparent;
    padding:5px
}
.invox-dialog__list-item-button-insert>label,.invox-dialog__list-item-button-edit>label,.invox-dialog__list-item-button-remove>label,.invox-dialog__button-remove>label,.invox-dialog__button-new>label{
    cursor:pointer;
    align-self:center;
    padding-top:2px
}
.invox-dialog__button-remove{
    display:flex;
    align-items:center;
    vertical-align:middle;
    color:red;
    background-color:#ff00001c;
    border:none;
    padding:3px 10px;
    gap:5px
}
.invox-dialog__button-confirm-remove{
    background-color:red;
    color:#fff;
    position:relative
}
.invox-dialog__button-edit,.invox-dialog__button-save,.invox-dialog__button-new{
    display:flex;
    background-color:var(--invox-dialogs-color__primary);
    color:#fff;
    border:2px solid var(--invox-dialogs-color__primary);
    align-items:center;
    gap:5px
}
/*.invox-dialog__button-edit:hover,.invox-dialog__button-save:hover,.invox-dialog__button-new:hover{
    background-color:var(--invox-dialogs-color__primary--hover);
    border:2px solid var(--invox-dialogs-color__primary--hover)
}*/



/*.invox-dialog__button-cancel:focus>label,.invox-dialog__button-cancel:hover>label{
    text-decoration:underline
}*/



.invox-dialog__list-searchbar:focus-within:after,.invox-dialog__button:focus:after,.invox-dialog__button-save:focus:after,.invox-dialog__button-new:focus:after{
    content:"";
    position:absolute;
    inset:-1px;
    border-radius:var(--invox-dialogs-size__border-radius);
    outline:3px solid #A2B5F3;
    border:1.5px solid var(--invox-dialogs-color__primary)
}
.invox-dialog__input-checkbox:focus:after{
    content:"";
    position:absolute;
    inset:1px 0;
    outline:3px solid #A2B5F3;
    border:1.5px solid var(--invox-dialogs-color__primary);
    border-radius:2px
}
.invox-dialog__input-container:focus-within,.invox-dialog__list-selector:focus{
    border-radius:var(--invox-dialogs-size__border-radius);
    outline:3px solid #A2B5F3;
    border:1.5px solid var(--invox-dialogs-color__primary);
}
.invox-dialog__button-confirm-remove:focus:after,.invox-dialog__button-remove:focus:after{
    content:"";
    position:absolute;
    inset:-1px;
    border-radius:var(--invox-dialogs-size__border-radius);
    outline:3px solid #f3a2b4;
    border:1.5px solid red
}
/*.invox-dialog__button-remove:hover{
    background-color:#ff000029
}
.invox-dialog__button-confirm-remove:hover{
    background-color:#e30000
}
.invox-dialog__button-back:focus,.invox-dialog__button-back:hover{
    border-radius:var(--invox-dialogs-size__border-radius);
    background-color:#d1d1d14a
}
.invox-dialog__button-cancel:focus,.invox-dialog__button-cancel:hover,.invox-dialog__button-cancel:focus:after{
    position:relative;
    outline:none;
    border:none;
    background-color:transparent
}*/
.invox-dialog__spinner,.invox-dialog__spinner--small{
    display:inline-block;
    box-sizing:border-box;
    animation:invox-dialog__spinner--rotation 1s linear infinite;
    border-radius:50%;
    border:3px solid darkgray;
    border-left-color:transparent;
    width:16px;
    min-width:16px;
    height:16px;
    min-height:16px
}
.invox-dialog__spinner--small{
    border:2px solid white;
    border-left-color:transparent;
    width:12px;
    min-width:12px;
    height:12px;
    min-height:12px
}
@keyframes invox-dialog__spinner--rotation{
    0%{
    transform:rotate(0)
    }to{
        transform:rotate(360deg)
    }
}
@media only screen and (max-width: 270px){
    .invox-dialog__button-remove>label{
        display:none
    }
}
@media only screen and (max-width: 320px){
    .invox-dialog__list-view-header-container>select{
        width:100%!important
    }
    .invox-dialog__list-item-button{
        padding:6px!important
    }
    .invox-dialog__list-item-button-insert>label,.invox-dialog__list-item-button-edit>label,.invox-dialog__list-item-button-remove>label{
        display:none
    }
}
@media only screen and (max-width: 430px){
    .invox-dialog__list-view-header-container{
        column-gap:10px!important
    }
}
/*@media only screen and (hover: hover) and (max-width: 430px){
    .invox-dialog__list-view-header-container{
        column-gap:10px!important
    }
    .invox-dialog__list-item-button{
        padding:6px!important
    }
    .invox-dialog__list-item-button-insert>label,.invox-dialog__list-item-button-edit>label,.invox-dialog__list-item-button-remove>label{
        display:none
    }
}
@media only screen and (hover: none) and (pointer: coarse){
    .invox-dialog__list-item-buttons.hidden{
        display:flex
    }
    .invox-dialog__dialog-container--fullscreen{
        width:100%!important;
        height:100%!important;
        border-radius:0!important
    }
}
@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait){
    .invox-dialog__dialog-container--resizable{
        width:100%;
        min-width:100%;
        height:95%;
        min-height:95%;
        resize:none;
        margin:0;
        border-radius:var(--invox-dialogs-size__border-radius) var(--invox-dialogs-size__border-radius) 0 0
    }
}
@media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape){
    .invox-dialog__dialog-container--resizable{
        width:80%;
        min-width:80%;
        height:100%;
        min-height:100%
    }
}*/
@media only screen and (max-height: 400px) and (orientation: landscape){
    .invox-dialog__dialog-container--resizable{
        height:100%;
        min-height:100%
    }
}
/*@media only screen and (hover: hover) and (min-height: 400px){
    .invox-dialog__dialog-container--resizable{
        height:80%;
        min-height:80%
    }
}*/
.invox-dialog__templates-layer{
    z-index:var(--invox-templates-dialog__z-index)
}
#invox-templates-dialog>aside{
    width:540px
}
#invox-templates-dialog [hidden]{
    display:none
}
.invox-templates__list-item{
    position:relative;
    display:grid;
    background-color:#fff;
    padding:5px 10px 10px;
    color:var(--invox-dialogs-color__primary)
}



/*.invox-templates__list-item:active,.invox-templates__list-item:hover{
    background-color:#f6f6f6;
    color:var(--invox-dialogs-color__primary)
}*/
/*.invox-templates__list-item:hover .invox-templates__list-item-header-name>label{
    font-weight:600
}*/
.invox-dialog-icon__shadow{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#dadada78;
    border-radius:16px;
    width:28px;
    height:28px
}
.invox-dialog-icon__shadow>svg{
    width:20px;
    height:20px
}
.invox-dialog-icon__shadow-small{
    width:24px;
    height:24px
}
.invox-dialog-icon__shadow-small>svg{
    width:14px;
    height:14px
}
/*.invox-templates__list-item:hover .invox-dialog-icon__shadow{
    background-color:#cbcbcb78
}
.invox-templates__list-item:hover .invox-dialog__list-item-body{
    color:var(--invox-dialogs-color__primary)
}
.invox-templates__list-item.disabled,.invox-templates__list-item.disabled:hover{
    background-color:#fff5e0;
    color:gray;
    font-weight:400
}*/
.invox-templates__list-item-global,.invox-templates__list-item-type,.invox-templates__list-item-state{
    display:flex;
    align-items:center;
    background-color:transparent;
    min-width:30px;
    margin:5px 5px 5px 10px;
    object-fit:contain;
    justify-content:center;
    gap:10px;
    flex-direction:column
}
.invox-templates__list-item-body{
    padding-left:10px
}
.invox-templates__list-item-header-name{
    display:flex;
    overflow:hidden;
    flex:1;
    flex-direction:row;
    align-items:center;
    column-gap:10px;
    padding-block:6px
}
.invox-templates__list-item-header-name>label{
    display:block;
    margin-block:auto;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis
}
.invox-list-item-replacement-container{
    display:flex;
    flex-direction:column;
    row-gap:5px
}
/*.invox-templates__list-item:active .invox-dialog__list-item-buttons,.invox-templates__list-item:hover .invox-dialog__list-item-buttons{
    display:flex
}
.invox-templates__list-item-body-border{
    border-left:1.5px solid #dadada78;
    margin-left:1.5px;
    padding-left:20px;
    flex-direction:column
}
.invox-templates__list-item:active .invox-templates__list-item-body-border,.invox-templates__list-item:hover .invox-templates__list-item-body-border{
    border-left:1.5px solid var(--invox-dialogs-color__primary--hover)
}
.invox-templates__list-item.disabled:hover .invox-templates__list-item-body-border{
    color:gray;
    border-left:1.5px solid #dadada78
}
@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait){
    #invox-templates-dialog{
        align-items:flex-end
    }
}*/

/* CLASES PERSONALIZADAS PARA LAS PLANTILLAS */

.invox-dialog__list-item-buttons{
    display:flex !important;
    align-items:center;
    font-weight:500;
    column-gap:10px
}

.invox-templates__list-item tr{
    display:flex;
    overflow:hidden;
    column-gap:5px;
    background-color: #d3d3d3 !important;
}

.invox-templates__list-item tr:hover{
    background-color: #d3d3d3 !important;
}

td.invox-templates__list-item-header-name label{
    color: #000 !important;
    font-size: 18px !important;
}

.invox-dialog__list-item-body{
    display:flex;
    flex:1;
    gap:10px;
    margin-block:auto;
    font-size:0.8rem;
    overflow:hidden;
    color:#565656 !important;
}

.invox-dialog__list-item-button-insert {
    color: black !important;
    background-color: #b8b8b8!important;
}

.invox-dialog__list-item-button-insert{
    /*color:#477069!important;*/
    background-color:#b8b8b8!important
}

.invox-dialog__list-item-button{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#b8b8b8;
    border:none;
    outline:none;
    border-radius:var(--invox-dialogs-size__border-radius);
    cursor:pointer;
    color:#fff;
    font-weight:600;
    font-size:.8rem;
    gap:5px;
    padding:4px 8px
}

.invox-dialog-icon__insert-template{
    fill:#477069
}

.invox-dialog-icon__text-template,.invox-dialog-icon__edit{
    fill:var(--invox-dialogs-color__primary)
}

.invox-dialog__badge-global{
    display:flex;
    align-items:center;
    font-size:.8rem;
    color:gray;
    padding:4px 8px;
    column-gap:5px;
    background-color: #b8b8b8 !important;
    border-radius: var(--invox-dialogs-size__border-radius);
}

svg.bi.bi-globe.invox-dialog-icon__global{
    fill: #017BD5 !important;
}

svg.bi.bi-pause-circle-fill.invox-dialog-icon__inline-template{
    fill: #aeaeae !important;
}

td.invox-dialog__list-item-buttons.hidden button label{
    color: #000 !important;
}

td.invox-dialog__list-item-buttons.hidden span label{
    color: #000 !important;
}

div.invox-dialog__list-item-icons--small span label{
    color: #000 !important;
}

.invox-dialog__button-cancel{
    background-color: #b6b6b6 !important;
    color:#6d6d6d;
    border:none;
    outline:none
}

.invox-dialog__button{
    padding:0px 15px;
    border-radius:var(--invox-dialogs-size__border-radius);
    font-size:.8rem;
    font-weight:700;
    cursor:pointer;
    outline:none;
    border:none;
    height:32px;
    position:relative
}

header.invox-base-view-header.invox-base-padding h1{
    color: #000 !important;
    font-size: 18px !important;
    font-weight: 500!important;
}

label.invox-dialog__checkbox-label{
    color: #000 !important;
}

button.invox-dialog__button.invox-dialog__button-remove label{
    color: red !important;
}

.invox-dialog__checkbox-container input[type=checkbox].invox-dialog__input-checkbox{
    display: block !important;
}

.invox-dialog__input-text,.invox-dialog__input-textarea{
    display:flex;
    box-sizing:border-box;
    width:100%;
    height:100%;
    outline:none;
    border:none;
    font-size:1.4rem;
    font-family:inherit;
    margin:0;
    padding:10px 12px 8px 10px;
    border-radius:var(--invox-dialogs-size__border-radius);
    background-color: transparent !important;
}


div.invox-dialog__input-container label.invox-dialog__input-label{
    line-height:normal !important;
    font-size: 1rem !important;
    margin-top: 0px !important;
    color:black !important;
}

div.invox-dialog__input-textarea label.invox-dialog__input-label{
    line-height:normal !important;
    font-size: 1rem !important;
    margin-top: 0px !important;
    color:black !important;
}

div.invox-dialog__input-textarea:focus{
    outline:none;
    border:none;
    background-color:transparent !important
}
div.invox-dialog__input-text:focus{
    outline:none;
    border:none;
    background-color:transparent !important
}

div.invox-dialog__input-container:focus-within>label{
    color:var(--invox-dialogs-color__primary) !important;
    font-weight:700;
}

button.btn.invox-base-btn.invox-switch-lock-btn.invox-switch-lock-focus-btn.btn-form.btn-icon{
    color: #0079c2 !important;
    background-color: transparent !important;
}

button.btn.invox-base-btn.invox-switch-lock-btn.invox-switch-lock-focus-btn.btn-form.btn-icon:hover{
    color: #fff !important;
    background-color: #0079c2 !important;
}

/*div.invox-dialog__input-container input[type=textarea].invox-dialog__input-textarea{
    background-color:transparent !important
}
*/
/*div.invox-dialog__input-container:focus{
    border-radius: var(--invox-dialogs-size__border-radius) !important;
    outline: 3px solid #A2B5F3 !important;
    border: 1.5px solid var(--invox-dialogs-color__primary) !important;
    color: red !important;
}

div.invox-dialog__input-textarea:focus{
    border-radius: var(--invox-dialogs-size__border-radius) !important;
    outline: 3px solid #A2B5F3 !important;
    border: 1.5px solid var(--invox-dialogs-color__primary) !important;
    color: red !important;
}*/

.invox-dictionary__list-item-word>label{
    color: black !important;
}

#invox-dictionary-list{
    padding: 10px 10px !important;
}

.invox-dictionary__list-item-word{
    width: 325px;
    padding: 5px 5px;
}

.invox-dialog__list-item-buttons{
    padding: 5px 5px;
}

.invox-dictionary__list-item{
    background-color: white !important;
}